.Button{
    padding: 15px 10px;
    margin: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
    border: none;
    box-shadow: 15px 15px 20px grey;
}

.Button:hover{
    background-color: whitesmoke;
    color: blue;
}

.Button:active{
    padding: 0px 5px;
}