.Button{
    padding: 15px 10px;
    margin: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(45, 45, 202);
    color: whitesmoke;
    border: none;
    box-shadow: 15px 15px 20px grey;
    border-bottom: solid 5px black;
}

.Button:hover{
    background-color: skyblue;
    box-shadow: 15px 15px 50px grey;
    color: rgb(67, 67, 250);
}

.Button.clicked{

}

/* .Button.primary{
    background-color: chartreuse;
}

.Button.primary:hover{
    background-color: rgb(170, 255, 85);
} */


/* 
.Button:active{
    padding: 20px 10px; 
    border-bottom: none;
} */

.Button img{
    max-height: 56px;
    size: auto;
}

.Button>*{ /*tout les enfants de Button*/
    vertical-align: middle;
}